body {display: block; margin: 10px auto; font-family: sans-serif; background: #f0f2f5; }
.card {display: block;margin: 0 auto; background: white; padding: 2rem; border-radius: 12px; box-shadow: 0 10px 25px rgba(0,0,0,0.1); width: 100%; max-width: 500px; margin-bottom: 10px;}
.method { display: block; align-items: center; margin-bottom: 10px; padding: 10px; background: #fafafa; border-left: 5px solid #61affe; }
code { background: #e8eaed; padding: 2px 6px; margin-right: 10px; }
#navbar{
  display: flex;
  align-items: center;
  justify-content: space-around
  ;
}
.nav-links{
    display: flex;
    gap: 2rem;
}
ul{
    list-style-type: none;
}
ul li a{
    background-color: lightblue;
    text-decoration: none;
    padding: 5px;
    border-radius:  5px;


}
 #submit{
    display: block;
    background-color: aqua;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    width: 100%;
    margin-top: 10px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
};
.danger{
    border: 1px solid red;
    background-color: lightcoral;
    color: #e8eaed;
};
#result{
    text-align: center;
}
